.card {
  border-radius: unset;
  outline: unset;
  max-width: unset;
  position: relative;
  width: 100%;
  padding: 1rem;
}

.card__img-container {
  height: unset;
  cursor: pointer;
  border-radius: 1.5rem;
  position: relative;
  line-height: 0.5;
}
.card__img-container > img {
  border-radius: 1.5rem;
  transition: all 1s;
  object-fit: cover;
  user-select: none;
}

.card__icons {
  display: inline-flex;
  gap: 1rem;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}
.card__icons > div {
  z-index: 8;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s;
  background-color: var(--primary-color);
  border: 0.25rem solid var(--black-color);
  color: var(--black-color);
}
.card__icons > div:hover {
  transform: scale(1.25);
  background-color: var(--black-color);
  border: 0.1rem solid var(--primary-color);
  color: var(--white-color);
}

.card .card__content {
  display: flex;
  padding: 0;
  margin-top: 1rem;
  gap: 0.5rem;
  flex-direction: row;
}
.card__video-details {
  width: 100%;
}
.card__title {
  padding: 0 0.5rem;
  font-size: 1rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.card__content .avatar {
  flex-shrink: 0;
  border: unset;
  position: relative;
  border: 0.15rem solid var(--primary-color);
  user-select: none;
}
.card__creater,
.card__video-info {
  color: var(--grey-color);
  margin: 0.5rem;
  font-size: 0.9rem;
}
.card__video-info {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
.card__video-info .card__duration {
  margin-left: auto;
}

.card__overlay {
  background-color: var(--overlay-color);
  border-radius: 1.5rem;
  display: none;
}
.card__overlay > * {
  font-size: 1.5rem;
  margin: 0 0.25rem;
}
.card__img-container:hover .card__overlay {
  display: flex;
}
